


<div class="background-image">
    <div class="container">


      

            <h1 style="color: white; ">ENQUIRY FORM</h1>
            


            <form [formGroup]="enquiryform" style="color: white; text-align: left; margin-top: 100px;">


                <div class="mb-3">

                   <b> <label for=""> Name</label> </b>

                    <input type="text" formControlName="name" name="name" id="" class="form-control">

                </div>

                <div class="mb-3">

                   <b><label for="">Phone Number</label></b> 

                    <input type="text" formControlName="phoneNumber" name="phonenumber" id="" class="form-control">

                </div>


                <div class="mb-3">

                   <b> <label for="">E-mail</label></b>

                    <input type="text" formControlName="email" name="email" id="" class="form-control">

                </div>


                <div class="mb-3">

                   <b> <label for="">Message</label> </b>

                    <input type="text" formControlName="message" name="message" id="" class="form-control">

                </div>
                <br>
                <br>
                <br>

                <hr>
                <div class="mb-3" style="text-align:center ;">

                    <button (click)="submit()" class="btn btn-dark">Submit</button>

                </div>


            </form>


        <!-- </div> -->

     






    </div>

</div>