h1{
    color:honeydew
}
.background-image{
   
   
    background:linear-gradient(rgba(4, 2, 7, 0.89),rgba(0, 0, 50, 0.596)), url("C:\Users\HP\Desktop\BankApplication\enquiryForm\src\assets\enquiry.png");
    background-repeat: no-repeat;
    background-size:100% 500%;
    background-position:initial;
}

.content-table{
 

margin: 25px 0;
font-size: 20px;
width:100%;

min-height: 100px;
border-radius: 5px 5px;
overflow: hidden;
box-shadow: 0 0 20px rgb(202, 196, 196);


}

.content-table thead tr{
    background-color:gray;
    color:black;
    font-weight:bold;
    text-align: center;
    margin: auto;
}
.content-table thead td{
     padding: 14px 15px; 
    
  
}
.content-table tbody td{
   
    padding: 5px;
    
 

}



.content-table tbody tr{
    font-weight: bold;
    color:rgb(19, 51, 155) ;
    background-color: honeydew;
    margin: auto;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid rgb(19, 51, 155);
}